{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
     <!-- Site Metas -->
    <title>Black&Blue </title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="stylesheet" href="images/favicon.ico' type='images/x-icon" />
    <link rel="stylesheet" href="images/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-select.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static '/css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">

    <link rel="stylesheet" href="{% static '/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-select.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">
    <link rel="stylesheet" href="{% static '/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/loading.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static '/css/versions.css' %}">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <div class="mus">
			<img src="{% static 'images/lode-img.png' %}">
		  </div>
		  <span class="loading" data-name="Loading">Black&Blue BarberShop</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

	<div class="top-add alert alert-light alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Success!</strong> This alert box could indicate a successful or positive action.
	</div>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="{% static 'images/logo.png' %}" alt="" />
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/services">OurServices</a></li>
						<li class="nav-item"><a class="nav-link" href="/ouroffers">OurOffers</a></li>
						<li class="nav-item"><a class="nav-link" href="/barbers">OurBarbers</a></li>
						<li class="nav-item"><a class="nav-link" href="/vieworder">Accessories</a></li>
						<li class="nav-item"><a class="nav-link" href="/appointment">Appointment</a></li>
						<li class="nav-item"><a class="nav-link" href="/customerfeed">Feedback</a></li>
						<li class="nav-item"><a class="nav-link" href="/about">AboutUs</a></li>
					</ul>
				</div>
			</div>
			{% block bodycontent %}
			{% endblock %}
		</nav>
	</header>
	<!-- End header -->

	<div id="home" class="parallax">
		<div id="full-width" class="owl-carousel owl-theme home-hero">
			<div class="text-center item slider-01 display-table overlay">
				<div class="display-table-cell">
					<div class="big-tagline text-center">
						<h2><strong>The Barber Shop</strong><br>
						in Tiruppur</h2>
						<p class="lead">The best shop in town</p>
						<a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Contact US</a>
					</div>
				</div>
			</div>
			<div class="text-center item slider-02 display-table overlay">
				<div class="display-table-cell">
					<div class="big-tagline text-center">
						<h2><strong>The Barber Shop</strong><br>
						in Tiruppur</h2>
						<p class="lead">Come get shaped up</p>
						<a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Contact US</a>
					</div>
				</div>
			</div>
			<div class="text-center item slider-03 display-table overlay">
				<div class="display-table-cell">
					<div class="big-tagline text-center">
						<h2><strong>The Barber Shop</strong><br>
						in Tiruppur</h2>
						<p class="lead">So fresh and so clean</p>
						<a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Contact US</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end section -->
		
	<!-- Page Content -->
	<div id="page-content-wrapper">			
		<div class="section wb">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 text-left">
						<div class="message-box">
							<h4>About</h4>
							<h2>Welcome to Black&Blue </h2>
							<p class="lead">They have traditionally been more than a place to go get a haircut..they're a place for men to socialize</p>

							<p> in the past,trips to the barbershop were a weekly ritual and men would wait in line for a shave and a haircut.According to Sharpiologist, "Our Black&Blue Barbershop created a special social connectivity with their clients" </p>

							<a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn More</a>
						</div><!-- end messagebox -->
					</div><!-- end col -->
					<div class="col-md-6 text-center">
						<div class="right-box">
							<img class="img-fluid" src="{% static 'uploads/about-img.jpg' %}" alt="" />
						</div>
					</div><!-- end col -->
				</div><!-- end row -->
				
				<hr class="hr1"> 
				
				<div class="row">
					<div class="col-md-12">
						<div class="about-tab">
							<ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
								<li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab">Our Mission</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab">Why Us?</a></li>
								<li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab">About Us</a></li>								
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade show active" id="tab_a">
									<p>At Mission Barbers, we are dedicated to serving the local Chandler and Gilbert, AZ area with a barbershop experience unlike any other in town. We will have you feeling comfortable and won't just have you looking good, but feeling good too.</p>
									<p> We are number one </p>
								</div>
								<div class="tab-pane fade" id="tab_b">
									<p>Given that new and trendy haircuts are coming up every day, men and women alike will always need creative and up-to-date barbers. If you’re ready to learn every day and better your skills, then you’ll be on the safe side. Also, as a creative and innovative barber, you can devise your own styles to remain relevant in the industry.</p>
									<ul>
										<li><i class="fa fa-circle-o" aria-hidden="true"></i>User Experince</li>
										<li><i class="fa fa-circle-o" aria-hidden="true"></i>Custom Respects</li>
										<li><i class="fa fa-circle-o" aria-hidden="true"></i>Awesome cuts</li>
										<li><i class="fa fa-circle-o" aria-hidden="true"></i>Life style</li>
										<li><i class="fa fa-circle-o" aria-hidden="true"></i>100% safe</li>
										<li><i class="fa fa-circle-o" aria-hidden="true"></i>Custom Support</li>
									</ul>
								</div>
								<div class="tab-pane fade" id="tab_c">
									<p>They have traditionally been more than a place to go get a haircut..they're a place for men to socialize</p>
								</div>
							</div><!-- tab content -->
						</div>
					</div><!-- end col -->
				</div><!-- end row -->
				
				<hr class="hr1"> 

				<div class="row text-center">
					<div class="col-lg-12">
						<div class="owl-services owl-carousel owl-theme">
							
						   <div class="service-widget">
								<div class="post-media wow fadeIn">
									<a href="uploads/barber_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
									<img src="uploads/barber_01.jpg" alt="" class="img-responsive img-rounded">
								</div>
								<div class="dit-box">
									<h3>Show us Your Graft Style</h3>
									<p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>
								</div>
							</div><!-- end service -->
							
							<div class="service-widget">
								<div class="post-media wow fadeIn">
									<a href="uploads/barber_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
									<img src="uploads/barber_02.jpg" alt="" class="img-responsive img-rounded">
								</div>
								<div class="dit-box">
									<h3>Outstanding Barber Shop</h3>
									<p>Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor. </p>
								</div>
							</div><!-- end service -->
							
							<div class="service-widget">
								<div class="post-media wow fadeIn">
									<a href="uploads/barber_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
									<img src="uploads/barber_03.jpg" alt="" class="img-responsive img-rounded">
								</div>
								<div class="dit-box">
									<h3>The Barber Materials</h3>
									<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
								</div>
							</div><!-- end service -->
							
							<div class="service-widget">
								<div class="post-media wow fadeIn">
									<a href="uploads/barber_04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
									<img src="uploads/barber_04.jpg" alt="" class="img-responsive img-rounded">
								</div>
								<div class="dit-box">
									<h3>The Barber Materials</h3>
									<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
								</div>
							</div><!-- end service -->
							
							<div class="service-widget">
								<div class="post-media wow fadeIn">
									<a href="uploads/barber_05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
									<img src="uploads/barber_05.jpg" alt="" class="img-responsive img-rounded">
								</div>
								<div class="dit-box">
									<h3>The Barber Materials</h3>
									<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
								</div>
							</div><!-- end service -->
							
							<div class="service-widget">
								<div class="post-media wow fadeIn">
									<a href="uploads/barber_06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
									<img src="uploads/barber_06.jpg" alt="" class="img-responsive img-rounded">
								</div>
								<div class="dit-box">
									<h3>The Barber Materials</h3>
									<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
								</div>
							</div><!-- end service -->
							
						</div>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->

		<div id="pricing" class="section lb">
				<div class="container">
					<div class="section-title row text-center">
						<div class="col-md-8 offset-md-2">
						<small>OUR BABRER PRICING</small>
						<h3>Black&Blue Price</h3>
						</div>
					</div><!-- end title -->
					<div class="row flex-items-xs-middle flex-items-xs-center">

						<!-- Table #1  -->
						<div class="col-xs-12 col-lg-4">
						  <div class="card text-center">
							<div class="card-block">
							  <h4 class="card-title pricing-ti"> 
								Shaving
							  </h4>
							  <div class="line-pricing">
								<h5>Square styles</h5>
								<p>The square face type has a well-defined outline that can look flawless. Having said that, there are various ways to enhance a square face by growing a beard that complement it.</p>
								<a href="#">Rs:299/-</a>
							  </div>
							  <div class="line-pricing">
								<h5>Circle Beard</h5>
								<p>A chain patch and mustache that froms a circle is a perfact beard style for square face. the circle beard might seem a bit difficult. But it doesn’t have to be when you’re armed with the right tools.Here’s a simple set of steps to get you on your way to the popular circle beard goatee style</p>
								<a href="#">Rs:349/-</a>
							  </div>
							  <div class="line-pricing">
								<h5>Royale beard</h5>
								<p>A mustache anchored by a chin strip is one of the best beard styles for square face.The royale beard, or royale goatee, is a moustache anchored by a chin strip. Sounds simple enough, right? With the All Purpose Gillette Styler: Trimmer, Shaver & Edger, you can achieve this look.</p>
								<a href="#">Rs:399/-</a>
							  </div>
							</div>
						  </div>
						</div>

						<!-- Table #1  -->
						<div class="col-xs-12 col-lg-4">
						  <div class="card text-center">
							<div class="card-block">
							  <h4 class="card-title pricing-ti"> 
								Face Masking
							  </h4>
							  <div class="line-pricing">
								<h5>Classic Facial</h5>
								<p>classic facial is a wonderful addition to your skincare routine.Is a great way to pamper yourself and away the stress. This facial is also good at targeting skin issues like acne and maintaining your healthy skin..will be a facial massage. Perhaps some masks too. Plus, moisturizers and soothing serums.</p>
								<a href="#">Rs:999/-</a>
							  </div>
							  <div class="line-pricing">
								<h5>Cleanup Facial</h5>
								<p>basic cleanup is just right for you. It’s a wonderful option to consider if you have acne-prone skin (or already having breakouts).. give your skin a healthy look, your aesthetician will apply a moisturizing cream.</p>
								<a href="#">Rs:1499/-</a>
							  </div>
							  <div class="line-pricing">
								<h5>Acne Reduction Facial</h5>
								<p>The name says it all. This is one of the best types of facials that address acne.This type of facial will deeply cleanse and exfoliate your skin, revealing clear pores and radiantly glowing skin.</p>
								<a href="#">Rs:1999/-</a>
							  </div>
							</div>
						  </div>
						</div>

						<!-- Table #1  -->
						<div class="col-xs-12 col-lg-4">
						  <div class="card text-center">
							<div class="card-block">
							  <h4 class="card-title pricing-ti"> 
								Hair Styling
							  </h4>
							  <div class="line-pricing">
								<h5>Taper and Fade</h5>
								<p>The fade haircut, also sometimes known as a taper, is the most popular way to cut a guy’s hair on the sides and back.the name implies, the men’s fade haircut involves a close trim with hair clippers at the bottom of the head, gradually blending the hair on top.</p>
								<a href="#">Rs:450/-</a>
							  </div>
							  <div class="line-pricing">
								<h5>High Fade</h5>
								<p>The high fade may be the best haircut for guys who want a short sides, long top hairstyle. As it starts higher up on the head, the hair starts becoming shorter around the temples or forehead, much like the temp fade.the high fade haircut provides a lot of contrast and is the shortest of the fades.</p>
								<a href="#">Rs:499/-</a>
							  </div>
							  <div class="line-pricing">
								<h5>Quiff Haircut</h5>
								<p>The quiff haircut is a classic style modern take looks more relevant than ever. The quiff involves longer hair at the front of the head,then styled into the classic look by brushing the hair forward and up, and applying product. When styled properly, a quiff can be worn to formal events, parties or the office.</p>
								<a href="#">Rs:550/-</a>
							  </div>
							</div>
						  </div>
						</div>
					</div>
			</div>
		</div>
		
		
		<div id="barbers" class="section lb">
			<div class="container">
				<div class="section-title row text-center">
					<div class="col-md-8 offset-md-2">
					<small>MEET OUR BABRER TEAM</small>
					<h3>Black&Blue BARBERS</h3>
					</div>
				</div><!-- end title -->

				<div class="row dev-list text-center">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<div class="widget our-inner-taem clearfix">
							<div class="t-top"></div>
							<div class="hover-br">
								<img src="uploads/barber_team_01.jpg" alt="" class="img-responsive">
								<div class="social-up-hover">
									<div class="footer-social">
										<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="team-box">
								<div class="widget-title">
									<h3>MR.Sanmugam</h3>
									<small>The Founder</small>
								</div>
								<!-- end title -->
								<p>Hello guys, I am Sanmugam from Tiruppur. I am senior  director and founder of The Black&Blue Barber Shop Company.</p>
							</div>
							<div class="t-bottom"></div>
						</div><!--widget -->
					</div><!-- end col -->

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
						<div class="widget our-inner-taem clearfix">
							<div class="t-top"></div>
							<div class="hover-br">
								<img src="uploads/barber_team_03.jpg" alt="" class="img-responsive">
								<div class="social-up-hover">
									<div class="footer-social">
										<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="team-box">
								<div class="widget-title">
									<h3>MR.Narayan</h3>
									<small>The Barber</small>
								</div>
								<!-- end title -->
								<p>Hello guys, I am Narayan from Tiruppur. I am senior art producer and barber of the Black&Blue Barber Shop Market.</p>
							</div>
							<div class="t-bottom"></div>
						</div><!--widget -->
					</div><!-- end col -->

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
						<div class="widget our-inner-taem clearfix">
							<div class="t-top"></div>
							<div class="hover-br">
								<img src="uploads/barber_team_02.jpg" alt="" class="img-responsive">
								<div class="social-up-hover">
									<div class="footer-social">
										<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="team-box">
								<div class="widget-title">
									<h3>MR.Gokul</h3>
									<small>The Barber</small>
								</div>
								<!-- end title -->
								<p>Hello guys, I am Gokul from  Tiruppur. I am senior art director and barber of the Black&Blue Barber Shop Website.</p>
							</div>
							<div class="t-bottom"></div>
						</div><!--widget -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->

		<div id="testimonials" class="parallax section db parallax-inner-bg">
			<div class="container">
				<div class="section-title row text-center">
					<div class="col-md-8 offset-md-2">
						<small>Thanks For Visiting</small>
						<h3>Black&Blue</h3>
					</div>
				</div><!-- end title -->

				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="testi-carousel owl-carousel owl-theme">                                
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="uploads/testi_01.png" alt="" class="img-responsive alignright">
									<h4>Rajkumar S <small>- Manager of Racer</small></h4>
								</div>
								<div class="desc">
									<h3>Wonderful Support!</h3>
									<p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="uploads/testi_02.png" alt="" class="img-responsive alignright">
									<h4>Manoj <small>- AI Spacialist</small></h4>
								</div>
								<div class="desc">
									<h3>Awesome Services!</h3>
									<p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="uploads/testi_03.png" alt="" class="img-responsive alignright">
									<h4>Kavin SV<small>- Tiruppur City</small></h4>
								</div>
								<div class="desc">
									<h3>Great & Talented Team!</h3>
									<p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="uploads/testi_03.png" alt="" class="img-responsive alignright">
									<h4>Surya <small>- Tiruppur City</small></h4>
								</div>
								<div class="desc">
									<h3> Great & Talented Team!</h3>
									<p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
						</div><!-- end carousel -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->

		<div class="copyrights">
			<div class="container">
				<div class="footer-distributed">
					<div class="footer-left">
						<p class="footer-links">
							<a href="#">Home</a>
							<a href="#">Blog</a>
							<a href="#">Pricing</a>
							<a href="#">About</a>
							<a href="#">Faq</a>
							<a href="#">Contact</a>
						</p>
						<p class="footer-company-name">All Rights Reserved. &copy; 2022 <a href="#">Black&Blue </a> Design By : <a href="https://Black&Blue.design/"><h4>Rajkumar S <small>- Software Engineer</small></h4></a></p>
					</div>
				</div>
			</div><!-- end container -->
		</div><!-- end copyrights -->
	</div>
    
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %}"></script>
	<script src="{% static 'js/responsive-tabs.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %}"></script>

    <!--link rel="stylesheet" href="{% static '/css/animate.css' %}"-->
</body>
</html>