{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Black&Blue Accessories</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
      <div class="cube-folding">
      <span class="leaf1"></span>
      <span class="leaf2"></span>
      <span class="leaf3"></span>
      <span class="leaf4"></span>
      </div>
      <div class="mus">
      <img src="{% static 'images/lode-img.png' %}" alt="" />
      </div>
      <span class="loading" data-name="Loading">Accessories</span>
    </div>
    </div><!-- end loader -->
    <!-- END LOADER -->

  <div class="top-add alert alert-light alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
    <!-- Start header -->
  <header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-rs-food">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/services">Our Services</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/barbers">Our Barbers</a></li>
            <li class="nav-item active"><a class="nav-link" href="/appointment">Appointment</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- End header -->



<div class="container">
	<div class="container">
		<div class="container">
			<div class="container">

<table border="2">
	<tr>
		
		
		<th>Name</th>
		<th><u>Brand</u></th>
		<th><u>Style</u></th>>
		<th><u>liquid</u></th>>
		<th><u>Photo</u></th>>
		
		
	</tr>
{% for res in result %}
	<tr>
		
		
		<td>{{res.name}}</td>
		<td>{{res.brand}}</td>
		<td>{{res.style}}</td>
		<td>{{res.liquid}}</td>
		<td><img src="{{res.photo.url}}" height="100" width="100"></td>
		
		
	</tr>

{% endfor %}
 
 </table>

</div></div></div></div>




		<div id="testimonials" class="parallax section db parallax-inner-bg">
			<div class="container">
				<div class="section-title row text-center">
					<div class="col-md-8 offset-md-2">
						<small>LET'S SEE OUR TESTIMONIALS</small>
						<h3>HAPPY TESTIMONIALS</h3>
					</div>
				</div><!-- end title -->

				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="testi-carousel owl-carousel owl-theme">                                
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="{% static 'uploads/testi_01.png' %}" alt="" class="img-responsive alignright">
									<h4>James Fernando <small>- Manager of Racer</small></h4>
								</div>
								<div class="desc">
									<h3>Wonderful Support!</h3>
									<p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="{% static 'uploads/testi_02.png' %}" alt="" class="img-responsive alignright">
									<h4>Jacques Philips <small>- Designer</small></h4>
								</div>
								<div class="desc">
									<h3>Awesome Services!</h3>
									<p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="{% static 'uploads/testi_03.png' %}" alt="" class="img-responsive alignright">
									<h4>Venanda Mercy <small>- Newyork City</small></h4>
								</div>
								<div class="desc">
									<h3>Great & Talented Team!</h3>
									<p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
							<div class="testimonial clearfix">
								<div class="testi-meta">
									<i class="fa fa-quote-right"></i>
									<img src="{% static 'uploads/testi_03.png' %}" alt="" class="img-responsive alignright">
									<h4>Venanda Mercy <small>- Newyork City</small></h4>
								</div>
								<div class="desc">
									<h3> Great & Talented Team!</h3>
									<p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
								</div>
								<!-- end testi-meta -->
							</div>
							<!-- end testimonial -->
						</div><!-- end carousel -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->

		<div class="copyrights">
			<div class="container">
				<div class="footer-distributed">
					<div class="footer-left">
						<p class="footer-links">
							<a href="#">Home</a>
							<a href="#">Blog</a>
							<a href="#">Pricing</a>
							<a href="#">About</a>
							<a href="#">Faq</a>
							<a href="#">Contact</a>
						</p>
						<p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">html design</a></p>
					</div>
				</div>
			</div><!-- end container -->
		</div><!-- end copyrights -->
	</div>
	

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static '/js/all.js' %}"></script>
	<script src="{% static '/js/responsive-tabs.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static '/js/custom.js' %}"></script>

    <!--link rel="stylesheet" href="{% static '/css/animate.css' %}"-->
</body>
</html>